
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/bg2_01.jpg) repeat-x left top;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*color: #838383;*/
        color: #000000;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:  normal;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:  normal;
        font-size: 16px;
}

p, ol, ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	line-height: 200%;
}

strong {
	color: #565656;
}

a {
	color: #005388;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	padding-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 220%;
}

ul.style1 span {
	display: block;
	float: left;
	width: 53px;
	height: 23px;
	margin: 6px 20px 30px 0px;
	padding: 0px 0px 0px 0px;
	background: #0E3553;
	text-align: center;
	font-size: 11px;
	color: #FFFFFF;
}

ul.style2 {
}

ul.style2 li {
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 220%;
}

ul.style3 {
}

ul.style3 li {
	padding-left: 30px;
	line-height: 220%;
}

/** WRAPPER */

.homepage #wrapper {
	background: url(images/bg1_01.jpg) repeat-x left top;
}

.homepage #wrapper-bgtop{
	background: url(images/bg1_02.jpg) no-repeat center top;
}

#wrapper-bgtop {
	background: url(images/bg2_02.jpg) no-repeat center top;
}

#wrapper-bgbtm {
	background: url(images/bg1_03.jpg) repeat-x left bottom;
}

.container {
	width: 950px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	height: 100px;
	/*padding: 29px 0px 0px 0px;*/
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	width: 400px;
	height: 80px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-indent: -9999em;
}

#logo h1 a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 400px;
	height: 131px;
	background: url(images/homepage01.jpg) no-repeat left top;
}

/** SPLASH PAGE */

#splash {
	height: 192px;
	/*padding: 40px 0px 0px 0px;*/
	font-family: Georgia, "Times New Roman", Times, serif;
}

#splash h2 {
	margin: 0px;
	/*padding: 0px 0px 0px 0px;*/
	letter-spacing: -2px;
	text-shadow: #004581 -1px 2px 3px;
	font-size: 38px;
	font-weight: normal;
	color: #FFFFFF;
}

#splash span {
	display: block;
	margin-top: -10px;
	/*padding-bottom: 10px;*/
}

#splash .byline {
	padding-bottom: 20px;
	text-shadow: #004581 -1px 2px 3px;
	font-size: 16px;
	color: #C1EAFF;
}

#splash .link {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: url(images/homepage02.gif) no-repeat left 2px;
	font-size: 14px;
}

#splash p {
	line-height: normal;
}

#splash a {
	color: #7ECFFE;
}

#banner {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

/** MENU */

#menu-container {
	width: 950px;
	margin: 0px auto;
        padding-top: 40px;
}

#menu {
	height: 47px;
	/*padding-top: 17px;*/
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 2px;
}

#menu span {
	display: inline-block;
	margin: 0px;
	font-weight: normal;
}

#menu a {
	display: block;
	float: left;
	height: 29px;
	padding: 0px 10px 0px 15px;
	letter-spacing: -1px;
	text-decoration: none;
	text-shadow: #152839 -1px 2px 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
}

#menu li.active {
	background: url(images/homepage05.jpg) repeat-x left top;
}

#menu li.active-promo {
	background: url(images/menubg.jpg) repeat-x left top;
}

#menu li.active a {
	background: url(images/homepage03.jpg) no-repeat  left top;
	text-shadow: #013D6F -1px 2px 3px;
}

#menu li.active-promo a {
	background: url(images/menubg.jpg) no-repeat  left top;
	text-shadow: #013D6F -1px 2px 3px;
        /*text-shadow: #01FFFF -1px 2px 3px;*/
}

#menu li.active span {
	display: inline-block;
	background: url(images/homepage04.jpg) no-repeat right top;
	color: #FFFFFF;
}


/** PAGE */

#page {
	overflow: hidden;
	padding: 30px 0px;
}

/** CONTENT */

#content {
	float: left;
	width: 600px;
	/*padding-top: 20px;*/
}

.single #content {
	width: 100%;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 250px;
	padding-top: 20px;
	padding-left: 25px;
	border-left: 1px solid #CCCCCC;
}

/** FOOTER */

#footer {
	height: 135px;
	border-top: 1px solid #CCCCCC;
}

#footer p {
	margin: 0px;
	padding: 45px 0px 0px 0px;
	text-align: center;
	color: #A2A2A2;
}

#footer a {
	color: #A2A2A2;
}


#box1 {
	height: 175px;
	border-bottom: 1px solid #CCCCCC;
        padding-top: 15px;
/*        padding-bottom: 30px;*/
}

#box1 .title {
	font-size: 28px;
}

#box2 {
	height: 220px;
	border-bottom: 1px solid #CCCCCC;
}

#box2 img {
	padding-bottom: 20px;
}

#box3 {
	padding-top: 40px;
}

#box3 .title {
	margin-bottom: 20px;
}

#box4 {
	padding: 30px 0px;
}

#box5 .title {
	font-size: 28px;
}

.box-style {}

.box-style .title {
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-size: 18px;
	color: #1E2C37;
}

.divider {
	margin-bottom: 10px;
	padding-bottom: 18px;
	border-bottom: 1px solid #CCCCCC;
}

.box-style .link1 {
	display: inline-block;
	margin: 18px 0px 0px 0px;
	padding: 0px 0px 4px 20px;
	background: url(images/homepage06.gif) no-repeat left 6px;
}

.box-style .link2 {
	display: inline-block;
	margin: 18px 0px 0px 0px;
	padding: 0px 0px 4px 25px;
	background: url(images/homepage07.gif) no-repeat left 3px;
}

#two-columns {
	margin-top: 0px;
}

#two-columns .div {
	border-left: 1px solid #CCCCCC;
}

#two-columns .colA {
	float: right;
	width: 100px;
/*	padding-right: 25px; */
	border-right: 1px solid #CCCCCC;
}

#two-columns .colB {
	float: left;
	/*width: 275px;*/
        padding-right: 15px;
}

#two-columns .title {
	margin-bottom: 20px;
}

#two-columns .alignleft {
	padding: 4px 20px 0px 0px;
}

/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:450px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

/* ---------- tables formatting -------*/
table.faq {
	border-width: 0px;
	border-spacing: 2px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.faq th {
	border-width: 2px;
	padding: 1px;
	border-style: none;
	border-color: white;
	background-color: rgb(180, 197, 205);
	text-align: left;
	-moz-border-radius: ;
	color: #000000;
	font-size: small;
}
table.faq td {
	border-width: 2px;
	padding: 1px;
	border-style: none;
	border-color: white;
	background-color: rgb(255, 255, 255);
	text-align: left;
	-moz-border-radius: ;
	color: #000000;
	font-size: small;
}

.country
{
        color:#1f4684; 
        font-size:8px;
}
.price
{         
        color:#f40039;
        font-size:8px;
        font-weight:bold;
}

/*------- List formatting -----*/
ul.style
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	color: #000000;

}
ul.style li
{
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 14px;
	font-size: medium;
	font-style: italic;
	color: #333399;
	font-weight:bold;
}
ul.style p
{
	
	font-size:medium;
	margin-left: 60px;
}

ul.style span
{
	font-family:Tahoma;
	font-weight:bold;
}

/* ------ DID Table formatting ----*/
#DID-Table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
/*	margin: 45px; */
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}

#DID-Table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 2px;
	background: #787878;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #fff;
	text-align:left;
}
#DID-Table td
{
	padding: 2px;
	background: #D8D8D8; 
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	color: #000;

}
#DID-Table .odd td
{
	background: #B8B8B8; 
}

#DID-Table tr:hover td
{
	background: #4385C1;
	color: #fff;
}

/* ------ ACCESS Table formatting ----*/
#ACCESS-Table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
/*	margin: 45px; */
	width: 550px;
	text-align: left;
	border-collapse: collapse;
}

#ACCESS-Table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 2px;
	background: #787878;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #fff;
	text-align:left;
}
#ACCESS-Table td
{
	padding: 2px;
	background: #D8D8D8; 
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	color: #000;

}
#ACCESS-Table .odd td
{
	background: #B8B8B8; 
}

#ACCESS-Table tr:hover td
{
	background: #4385C1;
	color: #fff;
}

#ACCESS-Table .row0 td
{
	padding: 2px;
	background: #D8D8D8; 
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	color: #000;

}
#ACCESS-Table .row1 td
{
        padding: 2px;
        background: #B8B8B8;
        border-bottom: 1px solid #fff;
        border-top: 1px solid transparent;
        color: #000;
}

/* ---- Rounded Corners ----- */
.rounded {
	border: 2px #005388 solid;
	padding: 10px 40px;
	background: #AACFE4;
        /*background: goldenrod;*/
	border-radius: 25px;
	-moz-border-radius: 25px;
        color: black;
}

.error {
    color: red;
}